body {
	font-family: 'Cinzel', serif;
	background-color: blue;
	color: gold;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

a {
	text-decoration: none;
}

#start {
	display: block;
	margin: 0 auto;
}